.user-management__dropdown-field {
  border-top: 0.125rem solid rgba(9, 37, 74, 0.15) !important;
  border-right: 0.125rem solid rgba(9, 37, 74, 0.15) !important;
  border-bottom: 0.125rem solid rgba(9, 37, 74, 0.15) !important;
  border-left: none;
  padding-left: 10px;
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  box-shadow: none !important;
  color: rgb(89, 89, 90);
  height: 42px;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

.user-management__dropdown-icon {
  border-right: 0.125rem solid rgba(9, 37, 74, 0.15) !important;
}