.change-password__input-field, .change-password__input-field-error {
  border-radius: 0.25rem !important;
  box-shadow: none !important;
}

.change-password__input-field {
  border: 0.125rem solid rgba(9, 37, 74, 0.15) !important;  
}

.change-password__input-field-error {
  border: 0.125rem solid rgb(158, 10, 15) !important;
}