.usafb-pagination__container {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}

.usafb-pagination {
  margin-left: auto;
}

.usafb-pagination__hide {
  div, ul {
    display: none !important;
  }
}

.usafb-pagination__content {
  background-color: #adb5bd;
  border-radius: 0 !important;
  padding: 15px;
  flex-basis: 50% !important;
  width: 40% !important;
}

.usafb-pagination__link {
  :hover {
    cursor: pointer;
  }
}

.usafb-pagination__more-pages {
  :hover {
    background-color: #fff !important;
  }
}

// fix padding on pagination so it aligns well with pagination label
.page-item {
  & > .page-link {
    padding: 0.5rem 20px !important;
  }
}