.usafb-pagination {
  margin-left: auto;
}

.usafb-pagination__hide {
  > div {
    display: none !important;
  }
}

.usafb-pagination__content {
  background-color: #adb5bd;
  border-radius: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.usafb-pagination__link {
  :hover {
    cursor: pointer;
  }
}

.usafb-pagination__more-pages {
  :hover {
    background-color: #fff !important;
  }
}

// fix padding on pagination so it aligns well with pagination label
.page-item {
  & > .page-link {
    padding: 0.5rem 20px !important;
  }
}