.nav-bar__mobileNavigation {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
  padding-left: 0;
  &-wrap {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 683px) {
    &-mobileSize {
      justify-content: space-between !important;
    }
  }
}