.profile__input-label {
  flex-basis: 30%;
  padding: 10px 0 !important;  
}

.profile__input-field, .profile__input-field-editing {
  flex-basis: 70% !important;
  padding: 10px 0 10px 10px !important;
}

.profile__input-field-editing {
  border: 1px solid #0288d5 !important;
  transition: all .4s ease, border .4s ease;
  display: flex;
  width: 100%;
  color: #fff !important;
  background: transparent !important;
  box-shadow: none !important;
}