.user-management__input-field {
  border-top: 0.125rem solid rgba(9, 37, 74, 0.15) !important;
  border-right: 0.125rem solid rgba(9, 37, 74, 0.15) !important;
  border-bottom: 0.125rem solid rgba(9, 37, 74, 0.15) !important;
  
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.user-management__input-group-icon {
  border-right: 0.125rem solid rgba(9, 37, 74, 0.15) !important;
}