.data-table-filter {
  padding-bottom: 0 !important;
  margin-bottom: -1px;

  :nth-child(1) {
    border-right: none;
  }

  :nth-child(3) {
    border-left: none;
  }
}

.data-table-filter__button {
  background: #ededed;
  color: #333;
  font-size: 0.875rem;
  border: solid 0.125rem #d8d8d8;
  margin: 0;
  border-radius: 0;
  z-index: 1;
  padding: 5px 10px;

  &:hover {
    color: #fff;
    background-color: #26579C;
    border-color: #26579C;
  }

  &:focus {
    outline: none;
  }
}

.data-table-filter__label {
  margin: 0 10px;
}