.landing__content {
  padding: 20px;
  background: rgba(255, 255, 255, .2);
  margin: 0 20px;
  margin-top: 50px;
  border-radius: 5px;
  flex-basis: 40%;
  border: solid 1px #8AB8E4;

  @media screen and (min-width: 1430px) {
    .landing__content {
      flex-basis: 30%;
    }
  }
}