.landing__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.landing__bar-chart-container {
  .xAxis {
    border-top: solid 1px white;
  }
  text {
    fill: #fff !important;
  }
}