.profile__content, .profile__content-editing {
  width: 96%;
  padding: 1.25rem;
  margin: 10px auto;
  color: #d6ecff;
  border: solid 1px transparent;
  border-radius: 2px;
}

.profile__content {
  background: rgba(0, 0, 0, 0.25);
}

.profile__content-editing {
  color: #d6ecff;
  background: rgba(0, 0, 0, 0.25);
}