@import "src/styles/sass/_functicions.scss";
@import "src/styles/sass/_var.scss";

.login__player-container {
  display: flex;
  flex-flow: row wrap;
  bottom:0;
  .login__players-signin {
      flex: 1 auto;
      align-self: flex-end;
      // height: 97vh;
      max-height: 865px;
      filter: drop-shadow(-16px 15px 14px rgba(0, 0, 0, .5));
  }
}
.login__player {
  z-index: 110;
}
