@import "src/styles/sass/_functicions.scss";
@import "src/styles/sass/_var.scss";
.login-page__input-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.login__input-wrapper {
  padding-right: 0;
  padding-left: 35px;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.15);
  border: solid 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow-x: hidden;
}

.login__input-form {
  margin-bottom: 0;
  margin-left: 20px !important;
  color: #ffffff !important;
  font-size: 0.875rem;
  font-stretch: condensed;
  color: #fff;
  letter-spacing: .8px;
  background-color: rgba(0, 0, 0, 0.15) !important;
  border-radius: 10px;
}

.login-page__input-label-focusable:active,
.login-page__input-label-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
  clip-path: none;
}

.fa-envelope,
.fa-lock {
  position: absolute;
  top: .4375rem;
  left: .25rem;
}

.fa-layer {
  display: flex;
  z-index: 500;
  margin: 0 6px;
  color: #868e96;
  font-size: 1.25rem;
}

.bss.form-group .form-control.form-control-theme {
  width: 100%;
  padding-left: 50px;
  margin-bottom: 0;
  font-size: $font-size-sm;
  font-stretch: condensed;
  line-height: 1.57;
  color: $white;
  letter-spacing: .8px;
  background: rgba(0, 0, 0, .15);
  border-radius: 10px;
  
}