.form-group__input-row {
  display: inline-flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 50%;
  background: #dee2e6;
  padding: 10px;
  border-top: 2px solid #ced4da !important;
  border-bottom: 2px solid #ced4da !important;
  border-left: 2px solid transparent !important;
  border-right: 2px solid transparent !important;
}