.data-table-filter {
  padding: 10px;
}

.data-table-filter__category {
  color: #2e69a3;
  white-space: nowrap;
  padding-bottom: 4px;
  margin: 10px 0;
  border-bottom: 1px solid #adb5bd;
  text-transform: uppercase;
}