.data-table-filter__popover {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  max-height: 400px;
}

.data-table-filter__group {
  display: inline-block;
}

.data-table-filter__category {
  display: inline-block;
  color: #2e69a3;
  white-space: nowrap;
  padding-bottom: 4px;
  margin: 10px 0;
  border-bottom: 1px solid #adb5bd;
  text-transform: uppercase;
}