.nav-bar__dropdown-button {
  background: none !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  box-shadow: none !important;
  color: #8AB8E4 !important;
}
