.login-page__email-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.login-page__email-label-focusable:active, .login-page__email-label-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
  clip-path: none;
}

.fa-envelope {
  position: absolute;
  top: .4375rem;
  left: .25rem;
}

.fa-layer {
  display: flex;
  z-index: 500;
  margin: 0 6px;
  color: #868e96;
  font-size: 1.25rem;
}