.forgot-password__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.forgot-password-input {
  border-radius: 0.25rem !important;
  box-shadow: none !important;
  border: 0.125rem solid rgba(9, 37, 74, 0.15) !important;  
}