.nav-bar__separator {
  border-left: 0.125rem #2e69a3 solid;
  transform: skewX(-25deg);
  margin: 0 20px;
  height: 20px;
}

.nav-bar__link {
  color: #8AB8E4;
  text-transform: uppercase;
  font-size: 1.05rem;
  font-weight: 500;
  letter-spacing: .9px;
  text-align: left;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  &:hover {
    color: #fff !important;
    text-decoration: none !important;
  }
}

.noPadding {
  padding: 8px 12px;
}

@keyframes fadeIn {
  0% {
    color: transparent;
  }
  100% {
    color: #8AB8E4 !important;
  }
}