.pagination__label {
  margin: 0;
}

.pagination__label-dropdown {
  >button{
    display: flex;
    align-items: center;
    background: #fff !important;
    color: #333 !important;
    font-size: 0.875rem !important;
    text-transform: capitalize !important;
    vertical-align: middle;
    border: solid 2px #d8d8d8 !important;
    margin: 0 10px !important;
    border-radius: 0 !important;
    z-index: 1;

    &:focus {
      outline: none !important;
      box-shadow: none !important;
      border: solid 2px #d8d8d8 !important;
    }
  }
}

.pagination__label-dropdown-menu {
  position: absolute;
  left: 2px !important;
  top: 49px !important;
  z-index: 5000;
  background-color: #fff !important;
  border: 0.125rem solid transparent;
  border-top: 0.125rem solid #adb5bd;
  border-radius: 0.125rem;
  width: 1380px;
  transform: none !important;
  box-shadow: 0.1875rem 0.1875rem 0.5rem 0.0625rem rgba(0, 0, 0, 0.175);

  &:before{
    content: '';
    position: absolute;
    left: 3px;
    top: -20px;
    width: 0;
    height: 0;
    border-left: 1.25rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-bottom: 1.25rem solid #adb5bd;
    border-top: 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }

  &:after {
    content: '';
    position: absolute;
    left: 7px;
    top: -16px;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid #fff;
    border-top: 0;
  }

  >.dropdown-item {
    color: #333;
  }
}

.pagination__label-dropdown-item {
  width: 98%;
  margin: auto;
}

.pagination__label-dropdown-active {
  color: #fff !important;
  text-decoration: none;
  background-color: #09254a !important;
}