.pagination__label {
  margin: 0;
}

.pagination__label-dropdown {
  button {
    display: flex;
    align-items: center;
    background: #ededed !important;
    color: #333 !important;
    font-size: 0.875rem !important;
    text-transform: capitalize !important;
    vertical-align: middle;
    border: solid 0.125rem #d8d8d8 !important;
    margin: 0 10px !important;
    border-radius: 0 !important;
    z-index: 1;
  }
}