.search-overlay {
  z-index: 5000;
  left: 0px;
  width: 250px;
  background-blend-mode: multiply;
  object-fit: contain;
  transition: all .5s ease-in-out;
  transform: scale(1);
  margin-left: 20px;
}

.search-overlay-shrink {
  position: absolute;
  z-index: 5000;
  top: 110px;
  width: 140px;
  height: 36px;
  margin: 0 auto 10px auto;
  background: transparent;
  color: #fff;
  text-align: center;
  transition: all .5s ease-in-out;
  transform: scale(1);
}

.search-field {
  margin: 10px;
  padding: 5px !important;
  height: 35px !important;
}

.search-overlay-shrink-btn {
  background: #164c7c;
  color: #fff;
  font-size: 85%;
  padding: 6px 10px;
  flex: 1 0 100%;
  border-right: 2px solid #164c7c;
  border-bottom: 2px solid #164c7c;
  border-left: 2px solid #164c7c;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all .5s ease-in-out;
}

.search-overlay-shrink-btn:hover {
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  text-decoration: none;
}

.search-form {
  transition: all .5s ease;
}

.search-form-shrink {
  display: none;
  transition: all .5s ease;
}

.column {
  display: flex;
  flex-direction: column;
}

.card-theme-blue .btn-primary-02 {
  background: #164094;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  background-image: linear-gradient(to top, #167cd4, #164094);
  border: 0.1875rem #164094 solid;
}

.card-theme-blue .btn-primary-02:hover {
  background: #167cd4;
  border: 0.1875rem #164094 solid;
}

.card-theme-blue .card-header {
  background-image: linear-gradient(to top, #167cd4, #164094);
}

.card-theme-blue .card-body {
  background: #d5d8dc;
  width: 200px;
}

.form-group .form-control {
  color: #868e95 !important;
  background-color: #fff !important;
  border-color: #d8d8d8 !important;
}

.form-group .form-control select.radius-control {
  color: #44484b !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.input-group-addon {
  border-top-left-radius: .25rem !important;
  border-bottom-left-radius: .25rem !important;
}

.input-group-addon:not(:last-child) {
  position: relative;
  z-index: 1000;
  width: 40px;
  left: 3px;
  border-right: 2px solid #d8d8d8;
}

.formShrink {
  position: absolute;
  top: 109px;
  height: 1px;
  transition: all .25s ease-in-out;
}

.icon-tiny {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}