@import "src/styles/sass/_functicions.scss";
@import "src/styles/sass/_var.scss";

.login__logo {
  width: 15.1875rem;
  margin: 20px 18px;
}

.sign-in-form-container {
  width: rem(398px);
  margin: 20px 20px 20px 109px;
  .sign-in-page-logo {
      width: rem(243px);
      margin: 20px 18px;
  }
}