.usafb__data-table {
  >.react-bs-table-bordered {
    border-radius: 0 !important;
  }
}

.data-table__striped-row {
  background-color: rgba(0, 0, 0, 0.05);
}

.usafb__data-table-hide {
  display: none !important;
}

.usafb__data-table, .react-bs-container-body {
  th, td {
    width: 165px !important;
  }
}

// need to display arrows in data table
// imported usafb-bootstrap css class is clashing with this
.usafb__table-header {
  > .order > .dropdown > .caret {
    &::before {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 0;
      border-bottom: 4px dashed;
      border-bottom: 4px solid \9;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      content: "";
    }
  }

  > .order > .dropup > .caret {
    &::before {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-bottom: 0;
      border-top: 4px dashed;
      border-top: 4px solid \9;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      content: "";
    }
  }

  // we need to handle where user has selected to sort a column
  // because bootstrap css is weird
  > .order.dropup > .caret {
    &::before {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-bottom: 0;
      border-top: 4px dashed;
      border-top: 4px solid \9;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      content: "";
    }
  }

  > .order > .caret {
    &::before {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 0;
      border-bottom: 4px dashed;
      border-bottom: 4px solid \9;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      content: "";
    }
  }
}