.login__container {
  background-color: #0d2240;
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  padding: 0;
  display: flex;
  align-self: stretch;
  align-items: center;
  height: 100%;
}

.full-screen-container {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0;
  background-image: url("/images/bg/bg-usafb-signin.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2800px;
}
