.login__container {
  background-color: #0d2240;
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-self: stretch;
  align-items: center;
}