// progress bar - fired on page load
@mixin animateWidth($startWidth, $endWidth) {
  @keyframes growHorizontal {
    from { width: $startWidth; }
    to { width: $endWidth; }
  }
}

@mixin animateWidth($startHeight, $endHeight) {
  @keyframes shrinkVerticle {
    from { height: $startHeight; }
    to { height: $endHeight; }
  }
}

//
@mixin animation($animate...) {
  $max: length($animate);
  $animations: "";
  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};
    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  animation: $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
