.usafb__blue-container {
  height: 100%;
  background: rgba(9, 48, 90, 0.93) url('/styles/css/images/bg/usa-fb-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  object-fit: contain;
  overflow-y: auto;
}