.user-management__status-disabled,
.user-management__edit-user-button,
.user-management__status-enabled {
   :hover {
    cursor: pointer;
  }
}

.user-management__status-disabled {
  i {
    color: #9e0a0f;
    text-decoration: none;
  }
}

.user-management__status-enabled {
  i {
    color: #28a745;
    text-decoration: none;
  }
}

.user-management__edit-user-button {
  i {
    color: #09254a;
    text-decoration: none;
    background-color: transparent;
  }
}

.customTooltip {
  &-hide {
    opacity: 0;
  }
}