.user-management__status-disabled, .user-management__edit-user-button {
  :hover {
    cursor: pointer;
  }
}

.user-management__status-disabled {
  i {
    color: #9e0a0f;
    text-decoration: none;
  }
}

.user-management__edit-user-button {
  i {
    color: #09254a;
    text-decoration: none;
    background-color: transparent;
  }
}