.nav-bar__dropdown-button {
  background: none !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  box-shadow: none !important;
  &:focus {
    background: #0d2240 !important;
  }
}

.nav-bar__dropdown-button-item {
  padding: 1rem 1rem !important;
  color: #8AB8E4;
  text-transform: uppercase;
  font-size: 1.05rem;
  font-weight: 500;
  letter-spacing: .9px;
  text-align: left;
  &:hover {
    color: #fff !important;
    text-decoration: none !important;
  }
}